
<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Agregar una nueva Novedad</h4>
            <form action="/admin/novedades/agregar" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" placeholder="Cuerpo" name="cuerpo"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
<p>{{message}}</p>
{{/if}}
        </div>
    </div>
</div>