<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
  <!-- meta charec set -->
  <meta charset="utf-8">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- Page Title -->
  <title>Flor Paramidani Graphic Designer</title>
  <!-- Meta Description -->
  <meta name="description" content="Graphic Designer Porfolio Flor Paramidani">
  <meta name="keywords"
    content="one page, single parfffge, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
  <meta name="author" content="Flor Paramidani Graphic Designer">
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet"
    type='text/css'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&display=swap" rel="stylesheet">

  <!-- CSS
		================================================== -->
  <!-- Fontawesome Icon font -->
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css">
  <link rel="stylesheet" href="/stylesheets/fontawesome.css">
  <link rel="stylesheet" href="/stylesheets/brands.min.css">
  <link rel="stylesheet" href="/stylesheets/brands.css">
  <link rel="stylesheet" href="/stylesheets/all.min.css">
   <link rel="stylesheet" href="/stylesheets/all.css">

  <!-- Twitter Bootstrap css -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <!-- jquery.fancybox  -->
  <link rel="stylesheet" href="/stylesheets/jquery.fancybox.css">
  <!-- animate -->
  <link rel="stylesheet" href="/stylesheets/animate.css">
  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="/stylesheets/main.css">
  <!-- media-queries -->
  <link rel="stylesheet" href="/stylesheets/media-queries.css">

  <!-- Modernizer Script for old Browsers -->
  <script src="/javascripts/modernizr-2.6.2.min.js"></script>

</head>

<body id="body">

  <!-- 
        Fixed Navigation
        ==================================== -->
  <header id="navigation" class="navbar-fixed-top navbar">
    <div class="container">
      <div class="navbar-header">
        <!-- responsive nav button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars fa-2x"></i>
        </button>
        <!-- /responsive nav button -->

        <!-- logo -->
        <a class="navbar-brand" href="#body">
          
        </a>
        <!-- /logo -->
      </div>
      <!-- main nav -->
      <nav class="collapse navbar-collapse navbar-right" role="navigation">
        <ul id="nav" class="nav navbar-nav">
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#footer">Contacto</a></li>
        </ul>
      </nav>
      <!-- /main nav -->
    </div>
  </header>

  {{{body}}}

  <footer id="footer" class="footer">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-single">
            <img src="/images/logo-wh.png" alt="">
            <p></p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
          <div class="footer-single">
            <h6>Descargá mi CV</h6>
            <a href="/images/CV FLORENCIA PARAMIDANI 2023.pdf">CV Flor Paramidani</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 ">
          <div class="footer-single">
            <h6>Redes Sociales</h6>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="https://twitter.com/ParamidaniFlor"><i class="fa-brands fa-twitter fa-lg"></i></a></li>
              <li><a href="https://www.instagram.com/florpdg/"><i class="fa-brands fa-instagram fa-lg"></i></a></li>
              <li><a href="https://www.tiktok.com/@florparamidani/"><i class="fa-brands fa-tiktok fa-lg"></i></a></li>


            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="footer-single">
            <h6>Estoy en</h6>
            <ul>
              <li><a href="https://github.com/Flor-p"><i class="fa-brands fa-github fa-lg"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

  <!-- Essential jQuery Plugins
		================================================== -->
  <!-- Main jQuery -->
  <script src="/javascripts/jquery-1.11.1.min.js"></script>
  <!-- Single Page Nav -->
  <script src="/javascripts/jquery.singlePageNav.min.js"></script>
  <!-- Twitter Bootstrap -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <!-- jquery.fancybox.pack -->
  <script src="/javascripts/jquery.fancybox.pack.js"></script>
  <!-- jquery.mixitup.min -->
  <script src="/javascripts/jquery.mixitup.min.js"></script>
  <!-- jquery.parallax -->
  <script src="/javascripts/jquery.parallax-1.1.3.js"></script>
  <!-- jquery.countTo -->
  <script src="/javascripts/jquery-countTo.js"></script>
  <!-- jquery.wow -->
  <script src="/javascripts/wow.min.js"></script>
  


  <!-- Contact form validation -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>


  <!-- jquery easing -->
  <script src="/javascripts/jquery.easing.min.js"></script>


  <!-- Custom Functions -->
  <script src="/javascripts/custom.js"></script>

  <script type="text/javascript">

  </script>

</body>

</html>